html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #333;
  color: #ccc;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
  height: 100%;
}

.player {
  grid-column: 1;
  padding: 2rem;

  font-weight: 300;
  text-align: center;
}

.event-log {
  grid-column: 2;
  margin: 0;
  padding: 1rem;
  max-height: 100vh;
  overflow: auto;

  background: #444;
  font-family: "Ubuntu Sans Mono", "Open Sans Mono", monospace;
  font-size: 0.7rem;
  line-height: 1.2;
}

h1 {
  font-size: 1.4rem;
  font-weight: 300;
}

button {
  background: #444;
  color: #ccc;
  border: none;
  padding: 0.4rem 0.8rem;
}

button:hover {
  background: #555;
}

button:active,
button.active {
  background: #999;
  color: #fff;
}

code {
  padding: 0.1rem;
}

.help {
  margin-top: 2rem;
}

.cover {
  margin: auto;
  max-width: 80%;
}
.cover img {
  height: auto;
  max-width: 100%;
}

.controls p {
  display: inline-block;
  margin: 0.5rem;
  text-align: center;
}

.state {
  font-size: 0.8rem;
}
